.App {
  text-align: center;
  margin: 12px 44px 12px 44px
}

.nav-header {
  display: flex;
  padding: 12px 24px 12px 24px;  
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.filters {
  display: flex;
  justify-content: space-around;
  background: #fff;
}

.post {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  margin: 16px 70px 16px 70px;
  padding: 5px;
  justify-content: center;
  background: #FAFAFA;
}

.comment {
  display: flex;  
  -ms-align-items: center;
  align-items: flex-start;
  position: relative;
  margin: 16px 70px 10px 70px;
  padding: 5px;
  justify-content: flex-start;
}

.post-description {
  flex: 1 0 auto;
  padding: 0 10px;
  text-align: left;
}

.post-likes-comments {
  font-size: 14px;
  margin-top: 12px;  
  color: #2f2f2f
}

.post-likes {
  display: flex;
  margin-top: 12px;    
  align-items: center;  
}

.post-title {
  margin-top: 0;
}

.post-body p {
  margin-bottom: 0;
}
.post-votes {
  text-align: center;
  padding: 10px;
}
.post-detail {
  position: relative;
}
.post-author {
  font-size: 14px;  
  text-align: start;
  margin-right: 6px;
}

.comment-author {
  font-size: 12px;  
  text-align: start;
  margin-right: 6px;
}

.button-action {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}

button {
  margin: 5px 20px;
}

.comment {
  height: 150px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  margin: 0 100px 10px 100px;
  padding: 5px;
  transition: all 1s ease;
  justify-content: center;
}

.create-post-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.create-post-body {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -o-flex: 1 0 auto;
  flex: 1 0 auto;
}

.form-style-1 {
  margin:10px auto;
  max-width: 450px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  outline: none;
}

.form-style-1 .field-divided{
  width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
  width: 100%;
}
.form-style-1 .field-textarea{
  height: 100px;
}

.form-style-1 .required{
  color:red;
}